@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Kişisel Veriler";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<p>
    Hesabınızda saklanan kişisel veriler burada listelenir.
    Bu verileri indirebilir veya kalıcı olarak silebilirsiniz.
</p>

<p class="text-warning">
    Bu verileri silmek hesabınızı da kalıcı olarak silecektir ve bu işlem geri alınamaz.
</p>

        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">İndir</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Sil</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
